<!DOCTYPE html>
<html>
<head>
  <title>Snoop Bloggy Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h2><a href="#">Snoop Bloggy Blog</a></h2>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="">Main</a></li>
        <li class="has-dropdown">
          <a href="#">Dropdown Menu</a>
            <ul class="dropdown">
              <li><a href="" >About</a></li>
              <li class="active">
                <span class="new">
                  <a href="#entries/new" data-reveal-id="myModal">New Entry</a>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

<div id="new-entry-form">

</div>
<div id="entries-container">
  <hr id="first-hr">
</div>
<%= yield %>

</body>
</html>
